[submodule "3rdparty/shipvision"]
	path = 3rdparty/shipvision
	url = git@github.com:osirisQdt2810/shipvision.git
[submodule "benchmarks/baseline"]
	path = benchmarks/baseline
	url = git@github.com:ShipControlPrj/counting-simulation.git
